:root {
  --container-size: #{map-get($breakpoints, $layout-grid-max-width)};
  --container-padding: #{$layout-grid-margin};
}

.o-container,
[class*='-container'] {
  max-width: var(--container-size);
  padding:{
    left: var(--container-padding);
    right: var(--container-padding);
  }
  margin: {
    left: auto;
    right: auto
  };
  box-sizing: content-box;

  * {
    box-sizing: border-box;
  }
}
[class*='-col-'] {
  width: calc(var(--col-size-without-gap));
}

[class*='-col-offset-'] {
  margin-left: var(--offset-with-gap);
}
