@import "scss/mixins/grid";

.o-container,
[class*='-container'] {
  max-width: var(--container-size);
  padding-left: 3%;
  padding-right: 3%;
  margin: {
    left: auto;
    right: auto
  };
  box-sizing: content-box;

  * {
    box-sizing: border-box;
  }
}
[class*='-col-'] {
  width: calc(var(--col-size-without-gap));
}

[class*='-col-offset-'] {
  margin-left: var(--offset-with-gap);
}

@each $name, $value in $breakpoints {
  @include size($name) {
    @include create-columns(if($name == '', '-col', '-#{$name}-col'), $number-of-columns);
    @include display(if($name != '', '-#{$name}', ''));
    @include flex(if($name != '', '-#{$name}', ''));
  }
}
