:root {
  --container-size: #{map-get($breakpoints, $layout-grid-max-width)};
  --container-margin: #{$layout-grid-margin};
}

* {
  box-sizing: border-box;
}

.o-container,
[class*='-container'] {
  width: calc(100% - calc(var(--container-margin) * 2));
  max-width: var(--container-size);
  margin: {
    left: auto;
    right: auto
  };
}

[class*='-col-'] {
  width: calc(var(--col-size-without-gap));
}

[class*='-col-offset-'] {
  margin-left: var(--offset-with-gap);
}
