@function column-with-gap($gutter, $layout-grid-count, $column-number) {
  $X: 100%/$layout-grid-count;
  $Y: ($gutter * ($layout-grid-count - 1) / $layout-grid-count);
  @return calc(calc(calc(#{$X} - #{$Y}) * #{$column-number}) + #{$gutter * ($column-number - 1)});
}

@function column-without-gap($layout-grid-count, $column-number) {
  $X: 100%/$layout-grid-count;
  @return $X * $column-number;
}

@function offset-with-gap($gutter,$layout-grid-count, $column-number) {
  $X: 100%/$layout-grid-count;
  $Y: ($gutter * ($layout-grid-count - 1) / $layout-grid-count);
  @return calc(calc(calc(#{$X} - #{$Y}) * #{$column-number}) + #{$gutter * ($column-number)});
}

@function offset-without-gap($layout-grid-count, $column-number) {
  $X: 100%/$layout-grid-count;
  @return $X * $column-number;
}
